In [1]:
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
corpus=["Hello I am from India","Hello this is a call from Sweeden",
        "Hai I want to go USA","This is may home town"]

In [8]:
vectorizer=CountVectorizer(stop_words='english')

In [9]:
V_fit=vectorizer.fit_transform(corpus)
V_array=V_fit.toarray()

In [10]:
for i in range(len(corpus)):
    print(f"BOW representaion of Documnet{i+1} :{V_array[i]}")

BOW representaion of Documnet1 :[0 1 0 1 0 0 0 0]
BOW representaion of Documnet2 :[0 1 0 0 1 0 0 0]
BOW representaion of Documnet3 :[1 0 0 0 0 0 1 1]
BOW representaion of Documnet4 :[0 0 1 0 0 1 0 0]

In [18]:
import pandas as pd
pd.DataFrame(V_array,index='Doc1 Doc2 Doc3 Doc4'.split(),columns=vectorizer.get_feature_names_out())

      hai  hello  home  india  sweeden  town  usa  want
Doc1    0      1     0      1        0     0    0     0
Doc2    0      1     0      0        1     0    0     0
Doc3    1      0     0      0        0     0    1     1
Doc4    0      0     1      0        0     1    0     0